body{
    background-color: olivedrab;
}
h1 {
    color: bisque;
    background-image: url(astilbe.jpg);
    background-attachment: fixed;
    background-position-y: 100px;
    border: 3px solid wheat;
    font-size: 8em;
    font-family: "Aboreto";
}

h2 {
    font-family: "Alumni Sans Pinstripe";
    text-align: center;
}

ul {
    font-family: "Alumni Sans Pinstripe";
    font-size: 2em;
    text-align: right;
}

p {
    font-family: "Alumni Sans Pinstripe";
    font-size: 2em;
    text-align: right;
}

.border {
    border-width: 3px;
    border-color: wheat;
    border-style: solid;
    width: 300px;
    height: 450px;
    background-color: transparent;
    text-align: center;
    align-items: center;
}
.column {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
    margin: auto;
}

.button {
    padding: 20px;
    margin: auto;
    text-align: center;
    align-items: center
}

#a {
background-image: url(yuki.jpg);
background-position: center;
}
#b {
    text-align: left;
}

